html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.text-container {
	z-index: 100;
	width: 100vw;
	height: 100vh;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	font-size: 96px;
	color: white;
	opacity: 0.8;
	user-select: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

:root {
	--color-interactive: 200, 200, 220;
	--circle-size: 100%;
	--blending: darken;
}

.gradient-bg {
	width: 100vw;
	height: 100%;
	position: fixed;
	overflow: hidden;
	background: black;
	top: 0;
	left: 0;
	z-index: -1;

	svg {
		display: none;
	}


	.gradients-container {
		filter: url(#goo) blur(80px);
		width: 100%;
		height: 100%;
		opacity: 50%;
	}

	#interactive {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
		mix-blend-mode: var(--blending);

		width: 100%;
		height: 100%;
		top: -50%;
		left: -50%;

		opacity: 0;
	}
}

.overlay {
	opacity: 0;
	top: 0;
    left: 0;
    position: fixed;
    width: 5000px;
    height: 5000px;
    background: -moz-radial-gradient(rgba(0,0,0,0.1) 150px, rgba(0, 0, 0, 0.94) 250px);
    background: -webkit-radial-gradient(rgba(0,0,0,0.1) 150px, rgba(0, 0, 0, 0.94) 250px);
    background: -ms-radial-gradient(rgba(0,0,0,0.1) 150px, rgba(0, 0, 0, 0.94) 250px);
    background: -o-radial-gradient(rgba(0,0,0,0.1) 150px, rgba(0, 0, 0, 0.94) 250px);
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
}

#name {
	position: absolute;
	left: 8%;
	top: 5%;
	font-size: 8rem;
	max-width: 50%;
	/* color: rgb(218, 218, 218); */
}

.scrollArrow {
	border: solid dimgray;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	left: 50%;
	bottom: 5%;
	animation: arrowBob 1.5s infinite;
}

#landingScreen {
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
}

#testing{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

p, h4, h3, h2, h1{
	color: black;
	text-shadow: 0px 0px 1px rgb(168, 168, 168);
	animation: powerloss 10s;
}

p::selection, h4::selection, h3::selection, h2::selection, h1::selection{
	color: rgb(168, 168, 168);
	animation: powerloss 10s;
}

p{
	font-size: 2.5rem;
	text-shadow: 0px 0px 1px rgb(168, 168, 168);
}

.fadeIn{
	animation: fadeIn 5s;
}

h1.flicker{
	animation: flicker 5s infinite;
}

p.flicker{
	animation: flicker 7s infinite;
}

.scrollArrow.flicker{
	animation: arrowFlicker 10s infinite, arrowBob 1.5s infinite;
}

#content iframe{
	height: 100vh;
	width: 80%;
}

@keyframes flicker {
	0%{
		text-shadow: 0px 0px 1px rgb(41, 41, 41);
	}

	10%{
		text-shadow: 0px 0px 1px black;
	}

	12%{
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	14%{
		text-shadow: 0px 0px 1px black;
	}

	16%{
		text-shadow: 0px 0px 1px rgb(41, 41, 41);
	}

	20%{
		text-shadow: 0px 0px 1px black;
	}

	24%{
		text-shadow: 0px 0px 1px rgb(41, 41, 41);
	}

	30%{
		text-shadow: 0px 0px 1px black;
	}

	50%{
		text-shadow: 0px 0px 1px black;
	}

	54%{
		text-shadow: 0px 0px 1px rgb(255, 255, 255);
	}

	58%{
		text-shadow: 0px 0px 1px black;
	}
}

@keyframes arrowFlicker {
	0%{
		border-color: rgb(41, 41, 41);
	}

	10%{
		border-color: black;
	}

	12%{
		border-color: rgb(168, 168, 168);
	}

	14%{
		border-color: black;
	}

	16%{
		border-color: rgb(41, 41, 41);
	}

	20%{
		border-color: black;
	}

	24%{
		border-color: rgb(41, 41, 41);
	}

	30%{
		border-color: black;
	}

	50%{
		border-color: black;
	}

	54%{
		border-color: rgb(120, 120, 120);
	}

	58%{
		border-color: black;
	}
}

@keyframes arrowBob {
	0% {
		transform: rotate(45deg) translateX(0) translateY(0);
		transition: ease 0.5s;
	}

	50% {
		transform: rotate(45deg) translateX(50%) translateY(50%);
		transition: ease 0.5s;
	}
}

@keyframes powerloss {
	0%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	29%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	30%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	32%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	34%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	40%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	42%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	54%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	56%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	64%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	64%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	66%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	68%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	70%{
		color: black;
		text-shadow: 0px 0px 1px rgb(84, 84, 84);
	}

	75%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	100%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}
}

@keyframes fadeIn{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}