html,
body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	height: 100%;
}

.text-container {
	z-index: 100;
	width: 100vw;
	height: 100vh;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	font-size: 96px;
	color: white;
	opacity: 0.8;
	user-select: none;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

:root {
	--color-interactive: 200, 200, 220;
	--circle-size: 100%;
	--blending: darken;
}

.gradient-bg {
	width: 100vw;
	height: 100%;
	position: fixed;
	overflow: hidden;
	background: black;
	top: 0;
	left: 0;
	z-index: -1;

	svg {
		display: none;
	}


	.gradients-container {
		filter: url(#goo) blur(80px);
		width: 100%;
		height: 100%;
		opacity: 50%;
	}

	#interactive {
		position: absolute;
		background: radial-gradient(circle at center, rgba(var(--color-interactive), 1) 0, rgba(var(--color-interactive), 0.1) 65%) no-repeat;
		mix-blend-mode: var(--blending);

		width: 100%;
		height: 100%;
		top: -50%;
		left: -50%;

		opacity: 0;
		transition: opacity 800ms;
	}
}

.overlay {
	opacity: 0;
	top: 0;
    left: 0;
    position: fixed;
    width: 5000px;
    height: 5000px;
    background: -moz-radial-gradient(rgba(0,0,0,0.1) 250px, rgba(0, 0, 0, 0.94) 300px);
    background: -webkit-radial-gradient(rgba(0,0,0,0.1) 250px, rgba(0, 0, 0, 0.94) 300px);
    background: -ms-radial-gradient(rgba(0,0,0,0.1) 250px, rgba(0, 0, 0, 0.94) 300px);
    background: -o-radial-gradient(rgba(0,0,0,0.1) 250px, rgba(0, 0, 0, 0.94) 300px);
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
	transition: opacity 500ms, background 300ms;
}

#name {
	position: absolute;
	left: 8%;
	top: 5%;
	font-size: 8rem;
	max-width: 50%;
	/* color: rgb(218, 218, 218); */
}

.scrollArrow {
	border: solid dimgray;
	border-width: 0 1px 1px 0;
	display: inline-block;
	padding: 5px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	left: 50%;
	bottom: 5%;
	animation: arrowBob 1.5s infinite;
}

#landingScreen {
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;
}

#testing{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

p, h4, h3, h2, h1, a{
	color: black;
	text-shadow: 0px 0px 1px rgb(168, 168, 168);
	animation: powerloss 10s;
	transition: filter 200ms;
}

p::selection, h4::selection, h3::selection, h2::selection, h1::selection, a::selection{
	color: rgb(168, 168, 168);
	animation: powerloss 10s;
}

p.on::selection, h4.on::selection, h3.on::selection, h2.on::selection, h1.on::selection, a.on::selection, header > a::selection{
	color: burlywood;
}

p{
	font-size: 2.5rem;
	text-shadow: 0px 0px 1px rgb(168, 168, 168);
}

.fadeIn{
	animation: fadeIn 5s;
}

.fadeInQuick{
	animation: fadeInQuick 0s;
}

h1.flicker{
	animation: flicker 5s infinite;
}

h2.flicker{
	animation: flicker 5s infinite;
}

p.flicker{
	animation: flicker 7s infinite;
}

a.flicker{
	animation: flicker 6s infinite;
}

.scrollArrow.flicker{
	animation: arrowFlicker 10s infinite, arrowBob 1.5s infinite;
}

#content iframe{
	height: 100vh;
	width: 80%;
}

p.on, h1.on, scrollArrow.on, a.on, h2.on{
	animation: none;
	color: rgb(218, 218, 218);
}

.overlay.on, #cursor.on{
	opacity: 0% !important;
}

#interactive.on{
	background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.3) 0, rgba(var(--color-interactive), 0.3) 100%) no-repeat;
	width: 200%;
	height: 200%;
	left: -100%;
    top: -100%;
}

@keyframes flicker {
	0%{
		text-shadow: 0px 0px 1px rgb(41, 41, 41);
	}

	10%{
		text-shadow: 0px 0px 1px black;
	}

	12%{
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	14%{
		text-shadow: 0px 0px 1px black;
	}

	16%{
		text-shadow: 0px 0px 1px rgb(41, 41, 41);
	}

	20%{
		text-shadow: 0px 0px 1px black;
	}

	24%{
		text-shadow: 0px 0px 1px rgb(41, 41, 41);
	}

	30%{
		text-shadow: 0px 0px 1px black;
	}

	50%{
		text-shadow: 0px 0px 1px black;
	}

	54%{
		text-shadow: 0px 0px 1px rgb(255, 255, 255);
	}

	58%{
		text-shadow: 0px 0px 1px black;
	}
}

@keyframes arrowFlicker {
	0%{
		border-color: rgb(41, 41, 41);
	}

	10%{
		border-color: black;
	}

	12%{
		border-color: rgb(168, 168, 168);
	}

	14%{
		border-color: black;
	}

	16%{
		border-color: rgb(41, 41, 41);
	}

	20%{
		border-color: black;
	}

	24%{
		border-color: rgb(41, 41, 41);
	}

	30%{
		border-color: black;
	}

	50%{
		border-color: black;
	}

	54%{
		border-color: rgb(120, 120, 120);
	}

	58%{
		border-color: black;
	}
}

@keyframes arrowBob {
	0% {
		transform: rotate(45deg) translateX(0) translateY(0);
		transition: ease 0.5s;
	}

	50% {
		transform: rotate(45deg) translateX(50%) translateY(50%);
		transition: ease 0.5s;
	}
}

@keyframes powerloss {
	0%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	29%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	30%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	32%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	34%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	40%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	42%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	54%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	56%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	64%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	64%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}

	66%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	68%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	70%{
		color: black;
		text-shadow: 0px 0px 1px rgb(84, 84, 84);
	}

	75%{
		color: rgb(168, 168, 168);
		text-shadow: transparent;
	}

	100%{
		color: black;
		text-shadow: 0px 0px 1px rgb(168, 168, 168);
	}
}

@keyframes fadeIn{
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes fadeInQuick{
	0%{
		opacity: 0%;
	}
	1%{
		opacity: 100%;
	}
	100%{
		opacity: 100%;
	}
}

h2 {
    margin-top: 100px;
    font-size: 4rem;
}

.textBlock {
	margin-top: 50px;
	scroll-margin-top: 50px;
	display: flex;
	flex-flow: column nowrap;
	padding: 0 7%;
}

#projects img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.document {
    background: whitesmoke;
    padding: 7%;
    font-size: 1.4rem;
}

#projects a {
	width: 40%;
}

#projects {
    display: flex;
    flex-flow: column nowrap;
	justify-content: space-around;
}

.projectContainer{
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

#pullchain {
	display: block;
	width: 10px;
	height: 150px;
	position: fixed;
	z-index: 4;
	right: 15%;
	top: -500px;
	overflow: visible;
	cursor: pointer;
	transition: top 300ms, transform 300ms;
	z-index: 10001;
	&:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        width: 0;
        height: 100%;
        border-left: 8px dotted #F3A808;
        transform: translate(-50%, 0);
    }
	&:after {
        content: '';
        display: block;
        position: absolute;
        height: 20px;
        width: 20px;
        background: #F3A808;
        bottom: 0px;
        left: 0;
        transform: translate(-25%, 50%);
        border-radius: 100%;
    }
	&:active {
		transform: translate(0, 45px);
	}
}

#pullchain.letThereBeChain{
	top: -45px;
}

@keyframes pullChain{
	0%{
		top: -100%;
	}
	50%{
		top: -50%;
	}
	100%{
		top: 10%;
	}
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	font-size: 2rem;
	background-color: black;
	z-index: 9999;
	padding: 0.5%;
}

header > a{
	color: rgb(218, 218, 218);
	margin-left: 20px;
}

.resumeTitle{
	width: 100%;
	height: 100%;
}

.resumeTitle p{
	background: #43425C;
	padding: 80px 30px;
	margin: 0;
	color: white;
}

.twoColumn{
	min-width: 200px;
	width: 40%;
}

.threeColumn{
	min-width: 150px;
	width: 20%;
}

.fourColumn{
	min-width: 100px;
	width: 20%;
}

.resumeColumn p:first-child{
	font-weight: bold;
}

.resumeColumn{
	padding: 0 2%;
    flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
}

.resumeColumn h3{
	font-size: 1.3rem;
	color: black;
	text-shadow: none;
	animation: none;
}

a:hover{
	filter: brightness(0.7);
}

.resumeColumn p{
	color: black;
	font-size: 0.8rem;
	text-shadow: none;
	animation: none;
	margin: 5px 0;
}

hr{
	border: black solid 1px;
    width: 95%;
}

#content a{
	font-size: 2rem;
}

.menu {
	overflow: hidden;
	cursor: grab;
	width: 100%;
	position: relative;
	z-index: 1;
	height: 35vh;
}
	
.menu.is-dragging {
	cursor: grabbing;
}
	
.menu--wrapper {
	counter-reset: count;
	display: flex;
	/* flex-flow: row nowrap; */
	position: absolute;
	z-index: 1;
	height: 100%;
	top: 0;
	left: 0;
	/* width: 100%; */
}
	
.menu--item {
	counter-increment: count;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 50vw;
	height: 100%;
	padding: 0 3vw;
	overflow: hidden;
	@media (max-width: 767px) {
		width: 40vw;
		height: 40vw;
	}
}
	  
	  
.menu:nth-child(n+10):before {
content: counter(count);
}
	  
figure {
	position: absolute;
	z-index: 1;
	display: block;
	user-select: none;
	-webkit-appearance: none;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
	transform-origin: center;

	img {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: middle;
		transform-origin: center;
	}

	&:before {
		position: absolute;
		z-index: 2;
		bottom: 1vw;
		left: 1vw;
		display: inline-block;
		content: "0" counter(count);
		color: #ffffff;
		font-size: 3vw;
	}
}
  
  .version {
	display: inline-block;
	position: fixed;
	text-align: center;
	z-index: 1;
	text-decoration: none;
	background: #333;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 10px;
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2);
	top: -30px;
	right: -50px;
	bottom: auto;
	transform: rotate(45deg);
	transform-origin: 0% 100%;
	border-radius: 0;
	padding: 8px 30px;
	font-size: 11px;
	
	&:before {
	  content: '';
	  position: absolute;
	  z-index: -1;
	  width: 100%;
	  height: 100px;
	  bottom: 0;
	  right: 0%;
	  background: transparent;
	}
	
	@media (max-width: 767px) {
	  transform: scale(.6) rotate(45deg) ;
	  right: -100px;
	}
  }

@media screen and (max-width: 1750px) {
	#name{
		font-size: 6rem;
	}
}

@media screen and (max-width: 1500px) {
	header {
	  font-size: 2rem;
	}
}

@media screen and (max-width: 1250px) {
	header {
	  font-size: 1.8rem;
	}
	#name{
		font-size: 4.5rem;
	}
}

@media screen and (max-width: 1000px) {
	#name{
		top: 2%;
		left: 5%;
		font-size: 3rem;
	}
	header{
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 800px) {
	header{
		font-size: 1.3rem;
	}
	#email{
		font-size: large;
	}
}

@media screen and (max-width: 650px) {
	#vanish {
	  display: none;
	}
	#name{
		font-size: 2rem;
	}
	p{
		font-size: 1.5rem;
	}
}
